server/launchConfigurations/
server/env.json
server/node_modules
.DS_Store
server/.DS_Store
screenshots/.DS_Store
login-customization/
server/*.csv
server/*.dat
server/*.iml
server/*.log
server/*.out
server/*.pid
server/*.seed
server/*.sublime-*
server/*.swo
server/*.swp
server/*.tgz
server/*.xml
server/.idea
server/.project
server/.strong-pm
server/coverage
server/npm-debug.log
npm-debug.log
server/db.json