extends ../layouts/layout

block content
  .row
    .col-md-12
      h1 Login:
      ul.list-inline.list-unstyled
        li
          a.btn.btn-primary(href="/auth/ibm") Login with IBM
      br
      if (messages.error)
        p
          span(style="color:red")= messages.error