{
 "VCAP_SERVICES": {
  "cloudantNoSQLDB": [
   {
    "credentials": {
     "host": "xxx-bluemix.cloudant.com",
     "password": "xxx",
     "port": 443,
     "url": "https://xxx-bluemix:xxx@xxx-bluemix.cloudant.com",
     "username": "xxx-bluemix"
    },
    "label": "cloudantNoSQLDB",
    "name": "collab-cloudant",
    "plan": "Shared",
    "tags": [
     "data_management",
     "ibm_created",
     "ibm_dedicated_public"
    ]
   }
  ]
 }
}