{
 "VCAP_SERVICES": {
  "SingleSignOn": [
   {
    "credentials": {
     "authorizationEndpointUrl": "https://collaboration-xxx.iam.ibmcloud.com/idaas/oidc/endpoint/default/authorize",
     "clientId": "xxx",
     "issuerIdentifier": "collaboration-xxx.iam.ibmcloud.com",
     "secret": "xxx",
     "serverSupportedScope": [
      "openid"
     ],
     "tokenEndpointUrl": "https://collaboration-xxx.iam.ibmcloud.com/idaas/oidc/endpoint/default/token"
    },
    "label": "SingleSignOn",
    "name": "collab-sso",
    "plan": "standard",
    "tags": [
     "security",
     "ibm_created",
     "ibm_dedicated_public"
    ]
   }
  ],
  "mongodb-2.4": [
   {
    "credentials": {
     "db": "db",
     "host": "xxx",
     "hostname": "xxx",
     "name": "xxx",
     "password": "xxx",
     "port": 10097,
     "url": "mongodb://localhost:27017/db", // use this URL when running Mongo locally
     "username": "xxx"
    },
    "label": "mongodb-2.4",
    "name": "collab-mongodb",
    "plan": "100",
    "tags": [
     "nosql",
     "document",
     "mongodb",
     "data_management",
     "ibm_experimental"
    ]
   }
  ]
 }
}